@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  &:before{
    content:'';
    content: "";
    width: 100%;
    height: 100vh;
    // background: linear-gradient(to right bottom, #6d327c, #485DA6, #00a1ba, #01b18e, #32b37b);
    // background: #D3D3D3;
    // background-image: url("https://www.inkdrop.app/static/masthead-bg-f4b0f2b95bae8748ba397d4d5a72a08d.jpg");
    // background-image: url("https://images.unsplash.com/photo-1485627941502-d2e6429a8af0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
